<div class="step-2 d-none">
  <h2>Front of document</h2>
  
  <div class="container p-0">
    <img class="my-4" src="../../img/id.svg" alt="id" width="50">
    <p>take a photo of the front of your Document.</p>
    <a href="scan-id.html"><button class="btn btn-access my-4">Use my camera</button></a>
  </div>

  <div class="container p-0 d-none">
    <h6>Does the photo look good to you? Pease make sure it is not blyrry.</h6>
    <img class="my-4" src="../../img/id.svg" alt="id" width="50"><span> <= add photo here</span>

    <div class="btns-photo d-flex justify-content-center">
      <button class="btn retake">Retake Photo</button>
      <button class="btn submit">submit</button>
    </div>
  </div>

</div>