<div class="step-1">
  <p>What type of ID will you be using?</p>
  
  <div class="id my-4 d-flex justify-content-center">
    <a href=""><button class="btn mx-2 py-2"><img src="./img/id.svg" alt="" width="50"></button><p>Passport</p></a>
    <a href=""><button class="btn mx-2 py-2"><img src="./img/id.svg" alt="" width="50"></button><p>Driver's license</p></a>
    <a href=""><button class="btn mx-2 py-2"><img src="./img/id.svg" alt="" width="50"></button><p>ID Card</p></a>
  </div>
  <a href="">I don't have one of these IDs</a>
</div>