<div class="step-4 p-md-4 m-md-4">
  <h2 class="my-4">uh oh! look like your files didn´t upload.</h2>
  
  <p class="my-4">
    Let's try again. Please upload your files and we'l keep ou fingers crossed you won't run into any problems this time.
    if you do, pleas call <a href="">844-355-LOAN</a> or email us at <a href="">support@explorecredit.com</a> and let us know ehat's going on.
    Please include the documents you're trying to upload so we can get you bank on tracks as quickly as possible.
  </p>
  
  <button class="btn btn-access my-4">Go Back</button>
</div>