<div class="file-step-3 d-none">
  <div class="row justify-content-around">
    <div class="col col-md-5 d-flex flex-column justify-content-center align-items-center">
      <!-- <img src="../../img/upload.png" alt=""> -->
      <h4 class="my-4">Drop file(s) to upload <br> or</h4>
      <button class="btn btn-access">Select fies</button><br>
      <small>Maximun upload file size: 5 MB.</small>
    </div>
    <div class="col col-md-6">
      <div class="uploaded-photo py-2 text-start d-flex justify-content-center  align-items-center">
        <img src="../../img/face-recognition.png" alt="photo">
        <div class="img-info mx-3 d-flex flex-column justify-content-center">
          <span>explore_credic_color_RGB.jpg</span>
          <span>0.1 MB</span>
        </div>
        <button class="btn"><img src="../../img/close.png" alt="X" width="12"></button>
      </div>

      <div class="uploaded-photo py-2 text-start d-flex justify-content-center  align-items-center">
        <img src="../../img/face-recognition.png" alt="photo">
        <div class="img-info mx-3 d-flex flex-column justify-content-center">
          <span>explore_credic_color_RGB.jpg</span>
          <span>0.1 MB</span>
        </div>
        <button class="btn"><img src="../../img/close.png" alt="X" width="12"></button>
      </div>

      <div class="uploaded-photo py-2 text-start d-flex justify-content-center  align-items-center">
        <img src="../../img/face-recognition.png" alt="photo">
        <div class="img-info mx-3 d-flex flex-column justify-content-center">
          <span>explore_credic_color_RGB.jpg</span>
          <span>0.1 MB</span>
        </div>
        <button class="btn"><img src="../../img/close.png" alt="X" width="12"></button>
      </div>

      <div class="uploaded-photo py-2 text-start d-flex justify-content-center align-items-center">
      </div>

      <div class="uploaded-photo py-2 text-start d-flex justify-content-center align-items-center">
      </div>

      <div class="uploaded-photo py-2 text-start d-flex justify-content-center align-items-center">
      </div>

      <button class="btn btn-access my-4"><h4 class="m-0">Submit Files</h4></button>

    </div>
  </div>
</div>