<div class="row">
  <div class="col">
    <div class="step-nav phone-steps d-flex flex-column justify-content-center mx-sm-5 align-items-center">
      <div class="container d-flex align-items-center justify-content-center" style="padding: 0 25px;">
        <a class="step-ok" href=""><span>1</span><p>Choose ID</p></a>
        <small></small>
        <a class="active-nav" href=""><span>2</span><p>Scan ID</p></a>
        <small></small>
        <a class="" href=""><span>3</span><p>Selfie</p></a>
      </div>
      <div class="p-0 mt-2 container d-flex justify-content-between">
        <h6 class="step-ok">Choose ID</h6>
        <h6 class="step-ok">Scan ID</h6>
        <h6 class="">Selfie</h6>
      </div>
    </div>
  </div>
</div>